<strong>Logging panel</strong>

    <%= form_with(model: @session, url: login_path, local: true) do |f| %>

        <p>
            <%= f.label :email %><br>
            <%= f.email_field :email %>
        </p>

        <p>
            <%= f.label :password %><br>
            <%= f.password_field :password %>
        </p>
    
    <%= f.submit 'Log in' %>

    <%end%>